@import "../global";

// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

@import "~jasny-bootstrap/scss/build/jasny-bootstrap";

// Import toastr
@import "~toastr/toastr";

// Fix mobile footer
.app-footer {
    flex: 0 0;
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
}

@each $color, $value in $socialite-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}
